

body{
  width: 70%;
  margin: auto;
  background-color: rgba(202, 202, 202, 0.705);
}
/* #root{
  height: auto;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
} */